<template>
	<Dialog v-model:visible="state.visibleDialog" :style="{ width: '450px' }" :modal="true" class="p-fluid">
		<template #header>
			<h3 v-if="state.editMode">{{ $t("editPerson") }}</h3>
			<h3 v-if="!state.editMode">{{ $t("createPerson") }}</h3>
		</template>

		Content

		<template #footer>
			<Button label="No" icon="pi pi-times" class="p-button-text" />
			<Button label="Yes" icon="pi pi-check" autofocus />
		</template>
	</Dialog>
</template>

<script setup>
import { reactive } from "vue"

const state = reactive({
	visibleDialog: false,
	editMode: false,
})

function openDialog(person) {
	state.visibleDialog = true
	if (person) {
		state.editMode = true
	} else {
		state.editMode = false
	}
}

defineExpose({
	openDialog,
})
</script>
