<template>
	<div class="grid">
		<div class="col-12">
			<div class="card">
				<h5>DataView</h5>
				<DataView
					:value="dataviewValue"
					:layout="layout"
					:paginator="true"
					:rows="9"
					:sortOrder="sortOrder"
					:sortField="sortField"
				>
					<template #header>
						<div class="grid grid-nogutter">
							<div class="col-6 text-left">
								<Dropdown
									v-model="sortKey"
									:options="sortOptions"
									optionLabel="label"
									placeholder="Sort By Price"
									@change="onSortChange($event)"
								/>
							</div>
							<div class="col-6 text-right">
								<DataViewLayoutOptions v-model="layout" />
							</div>
						</div>
					</template>
					<template #list="slotProps">
						<div class="col-12">
							<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
								<img
									:src="'demo/images/product/' + slotProps.data.image"
									:alt="slotProps.data.name"
									class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-0 md:mr-5"
								/>
								<div class="flex-1 text-center md:text-left">
									<div class="font-bold text-2xl">{{ slotProps.data.name }}</div>
									<div class="mb-3">{{ slotProps.data.description }}</div>
									<Rating :modelValue="slotProps.data.rating" :readonly="true" :cancel="false" class="mb-2"></Rating>
									<div class="flex align-items-center">
										<i class="pi pi-tag mr-2"></i>
										<span class="font-semibold">{{ slotProps.data.category }}</span>
									</div>
								</div>
								<div
									class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0"
								>
									<span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end"
										>${{ slotProps.data.price }}</span
									>
									<Button
										icon="pi pi-shopping-cart"
										label="Add to Cart"
										:disabled="slotProps.data.inventoryStatus === 'OUTOFSTOCK'"
										class="mb-2"
									></Button>
									<span :class="'product-badge status-' + slotProps.data.inventoryStatus.toLowerCase()">{{
										slotProps.data.inventoryStatus
									}}</span>
								</div>
							</div>
						</div>
					</template>

					<template #grid="slotProps">
						<div class="col-12 md:col-4">
							<div class="card m-3 border-1 surface-border">
								<div class="flex align-items-center justify-content-between">
									<div class="flex align-items-center">
										<i class="pi pi-tag mr-2"></i>
										<span class="font-semibold">{{ slotProps.data.category }}</span>
									</div>
									<span :class="'product-badge status-' + slotProps.data.inventoryStatus.toLowerCase()">{{
										slotProps.data.inventoryStatus
									}}</span>
								</div>
								<div class="text-center">
									<img
										:src="'demo/images/product/' + slotProps.data.image"
										:alt="slotProps.data.name"
										class="w-9 shadow-2 my-3 mx-0"
									/>
									<div class="text-2xl font-bold">{{ slotProps.data.name }}</div>
									<div class="mb-3">{{ slotProps.data.description }}</div>
									<Rating :modelValue="slotProps.data.rating" :readonly="true" :cancel="false"></Rating>
								</div>
								<div class="flex align-items-center justify-content-between">
									<span class="text-2xl font-semibold">${{ slotProps.data.price }}</span>
									<Button
										icon="pi pi-shopping-cart"
										:disabled="slotProps.data.inventoryStatus === 'OUTOFSTOCK'"
									></Button>
								</div>
							</div>
						</div>
					</template>
				</DataView>
			</div>
		</div>

		<div class="col-12 lg:col-8">
			<div class="card">
				<h5>PickList</h5>
				<PickList v-model="picklistValue" dataKey="code" :responsive="true" listStyle="height: 250px">
					<template #sourceheader> From </template>
					<template #targetheader> To </template>
					<template #item="slotProps">
						<div>{{ slotProps.item.name }}</div>
					</template>
				</PickList>
			</div>
		</div>

		<div class="col-12 lg:col-4">
			<div class="card">
				<h5>OrderList</h5>
				<OrderList
					v-model="orderlistValue"
					listStyle="height:250px"
					dataKey="code"
					class="p-orderlist-responsive"
					:rows="10"
				>
					<template #header> Cities </template>
					<template #item="slotProps">
						<div>{{ slotProps.item.name }}</div>
					</template>
				</OrderList>
			</div>
		</div>
	</div>
</template>

<script>
import ProductService from "../service/ProductService"

export default {
	data() {
		return {
			picklistValue: [
				[
					{ name: "San Francisco", code: "SF" },
					{ name: "London", code: "LDN" },
					{ name: "Paris", code: "PRS" },
					{ name: "Istanbul", code: "IST" },
					{ name: "Berlin", code: "BRL" },
					{ name: "Barcelona", code: "BRC" },
					{ name: "Rome", code: "RM" },
				],
				[],
			],
			orderlistValue: [
				{ name: "San Francisco", code: "SF" },
				{ name: "London", code: "LDN" },
				{ name: "Paris", code: "PRS" },
				{ name: "Istanbul", code: "IST" },
				{ name: "Berlin", code: "BRL" },
				{ name: "Barcelona", code: "BRC" },
				{ name: "Rome", code: "RM" },
			],
			dataviewValue: null,
			layout: "grid",
			sortKey: null,
			sortOrder: null,
			sortField: null,
			sortOptions: [
				{ label: "Price High to Low", value: "!price" },
				{ label: "Price Low to High", value: "price" },
			],
		}
	},
	productService: null,
	created() {
		this.productService = new ProductService()
	},
	mounted() {
		this.productService.getProducts().then((data) => (this.dataviewValue = data))
	},
	methods: {
		onSortChange(event) {
			const value = event.value.value
			const sortValue = event.value

			if (value.indexOf("!") === 0) {
				this.sortOrder = -1
				this.sortField = value.substring(1, value.length)
				this.sortKey = sortValue
			} else {
				this.sortOrder = 1
				this.sortField = value
				this.sortKey = sortValue
			}
		},
	},
}
</script>

<style scoped lang="scss">
@import "../assets/demo/styles/badges.scss";
</style>
