/* Custom toast location */
.p-toast.p-toast-topright {
    top: 114px;
}

/* Custom buttons styles */
.p-toolbar .p-button {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    em, i {
        margin-right: 1rem;
    }
}
