<template>
	<div class="grid">
		<div class="col-12">
			<div class="card">
				<Toolbar class="mb-4">
					<template v-slot:end>
						<Button class="p-button-success" @click="openEditPersonDialog(null)">
							<em class="pi pi-plus"></em>
							<span>{{ $t("newPerson") }}</span>
						</Button>
					</template>
				</Toolbar>

				<DataTable
					ref="dt"
					:value="state.persons"
					:paginator="true"
					:rows="10"
					paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
					:rowsPerPageOptions="[5, 10, 25]"
					currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
					responsiveLayout="scroll"
				>
					<template #header>
						<div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
							<h5 class="m-0">{{ $t("managePersons") }}</h5>
						</div>
					</template>

					<Column field="id" :sortable="false">
						<template #header>
							{{ $t("id") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("id") }}</span>
							{{ slotProps.data.id }}
						</template>
					</Column>

					<Column field="email" :sortable="true">
						<template #header>
							{{ $t("email") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("email") }}</span>
							{{ slotProps.data.email }}
						</template>
					</Column>

					<Column field="rut" :sortable="true">
						<template #header>
							{{ $t("rut") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("rut") }}</span>
							{{ rut.toFormattedText(slotProps.data.rut) }}
						</template>
					</Column>

					<Column field="firstName" :sortable="true">
						<template #header>
							{{ $t("firstName") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("firstName") }}</span>
							{{ slotProps.data.firstName }}
						</template>
					</Column>

					<Column field="lastName" :sortable="true">
						<template #header>
							{{ $t("lastName") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("lastName") }}</span>
							{{ slotProps.data.lastName }}
						</template>
					</Column>

					<Column field="birthday" :sortable="true">
						<template #header>
							{{ $t("birthday") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("birthday") }}</span>
							{{ datetime.formatBackendLocalDate(slotProps.data.birthday) }}
						</template>
					</Column>

					<Column field="active" :sortable="true">
						<template #header>
							{{ $t("active") }}
						</template>
						<template #body="slotProps">
							<span class="p-column-title">{{ $t("active") }}</span>
							<Checkbox v-model="slotProps.data.active" :binary="true" :disabled="true" />
						</template>
					</Column>

					<Column>
						<template #body="slotProps">
							<Button
								icon="pi pi-pencil"
								class="p-button-rounded p-button-success mr-2"
								@click="openEditPersonDialog(slotProps.data)"
							/>
							<Button
								icon="pi pi-trash"
								class="p-button-rounded p-button-warning"
								@click="confirmDeletePerson(slotProps.data)"
							/>
						</template>
					</Column>
				</DataTable>
			</div>
		</div>
	</div>
	<EditPersonDialogVue ref="personDialog"></EditPersonDialogVue>
</template>

<script setup>
import { onMounted, reactive, ref } from "vue"
import PersonApi from "../../api/PersonApi"
import rut from "../../utils/RutUtil"
import datetime from "../../utils/DateTimeUtil"
import EditPersonDialogVue from "../EditPersonDialog.vue"

const personApi = new PersonApi()

const personDialog = ref(null)

const state = reactive({
	persons: [],
})

onMounted(async () => {
	state.persons = await personApi.findPersonsFiltered()
	console.log(state.persons)
})

async function openEditPersonDialog(person) {
	personDialog.value.openDialog(person)
}

async function confirmDeletePerson() {
	// TODO
}
</script>

<style scoped lang="scss"></style>
